In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

import random
from scipy import stats
from scipy.stats import shapiro
from scipy.stats import chi2_contingency
from statsmodels.stats import power
import statsmodels.stats.multicomp as mc
from statsmodels.stats import weightstats as stests 
import statsmodels.stats.multicomp as mc
from statsmodels.stats.proportion import proportions_ztest

In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import 'random' to generate random sample
import random

# import statistics to perform statistical computation  
import statistics

# import 'stats' package from scipy library
from scipy import stats

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# to test the normality 
from scipy.stats import shapiro
from scipy.stats import chi2_contingency
# import the function to calculate the power of test
from statsmodels.stats import power
import statsmodels.stats.multicomp as mc

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The sales manager at an electronics company wants to study if online sales of their products in 2019 follow the same distribution as the online sales of products in 2015. He collected the sample of 300 products sold in 2019. Help the manager to test his claim using p-value technique at a 99% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_2.png'>

In [23]:
# H0: The distribution of online sales of products in 2019 is the same as the distribution of online sales of products in 2015.
# Ha: The distribution of online sales of products in 2019 is not the same as the distribution of online sales of products in 2015.

In [3]:
n=300
sig_lvl=0.01
sale_15=np.array([0.38,0.2,0.42])
sale15=sale_15*n
sale19=[85,90,125]
stats, pval =stats.chisquare(f_exp=sale15,f_obs=sale19)
pval

1.3776246111575923e-05

In [5]:
pval=0
if pval<sig_lvl:
    print('h0 is rejected \nThe distribution of online sales of products in 2019 is not the same as the distribution of online sales of products in 2015 with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('fail to reject h0 \nThe distribution of online sales of products in 2019 is the same as the distribution of online sales of products in 2015 with {:.2f} confidence'.format(1-sig_lvl))

h0 is rejected
The distribution of online sales of products in 2019 is not the same as the distribution of online sales of products in 2015 with 0.99 confidance

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Use hypothesis testing to check if the type of car maintenance is dependent on the type of car's transmission. Test the hypothesis with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_ind.png'>

In [14]:
#h0: The type of car maintenance is independent of the type of car transmission.
#ha: The type of car maintenance is dependent on the type of car transmission.
sig_lvl=0.05
obs= np.array([[104,85,78],[35,61,72]])
pval=stats.chi2_contingency(obs)[1]

if pval<sig_lvl:
    print('h0 is rejected \nThe type of car maintenance is dependent on the type of car transmission with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('we are fail to reject h0 \nThe type of car maintenance is independent of the type of car transmission with {:.2f} confidence'.format(1-sig_lvl))

h0 is rejected
The type of car maintenance is dependent on the type of car transmission with 0.95 confidence

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees travel rarely, 20% travel frequently and 12% of employees do not travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data available in the CSV file `Employee_Attrition.csv`.

In [41]:
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)
df=pd.read_csv('Employee_Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [46]:
#h0: There is no significant difference between the observed and expected frequencies from the expected distribution
#ha: There is a significant difference between the observed and expected frequencies from the expected distribution
sig_lvl=0.01
n=df['BusinessTravel'].count()
exp_per=np.array([0.68,0.20,0.12])
exp_count=exp_per*n
obs_count=[df[df['BusinessTravel']=='Travel_Rarely'].count()[1],df[df['BusinessTravel']=='Travel_Frequently'].count()[1],df[df['BusinessTravel']=='Non-Travel'].count()[1]]
stats, pval=stats.chisquare(f_exp=exp_count,f_obs=obs_count)
if pval<sig_lvl:
    print('h0 is rejected \nThere is a significant difference between the observed and expected frequencies from the expected distribution with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('fail to reject h0 \nThere is no significant difference between the observed and expected frequencies from the expected distribution with {:.2f} confidence' .format(1-sig_lvl))

fail to reject h0
There is no significant difference between the observed and expected frequencies from the expected distribution with 0.99 confidence

In [38]:
df[df['BusinessTravel']=='Travel_Rarely'].count()[1]
df[df['BusinessTravel']=='Travel_Frequently'].count()[1]
df[df['BusinessTravel']=='Non-Travel'].count()[1]

1043

In [41]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [44]:
obs_count=[df[df['BusinessTravel']=='Travel_Rarely'].count()[1],df[df['BusinessTravel']=='Travel_Frequently'].count()[1],df[df['BusinessTravel']=='Non-Travel'].count()[1]]
obs_count

[1043, 277, 150]

In [2]:
stats.norm.ifs(0.025)

AttributeError: 'norm_gen' object has no attribute 'ifs'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>4. Check whether travelling for the business is related to the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data available in the CSV file `Employee_Attrition.csv`.

In [55]:
# ho : There is no relation b/w gender and travelling for the business (Independent)
# ha : There is a relation b/w gender and travelling for the business (Dependent)
sig_lvl=0.1
obs= pd.crosstab(index=df['Gender'],columns=df['BusinessTravel'])
pval=stats.chi2_contingency(obs)[1]
if pval<sig_lvl:
    print('h0 is rejected \nThere is a relation b/w gender and travelling for the business (Dependent) with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('fail to reject h0 \nThere is no relation b/w gender and travelling for the business (Independent) with {:.2f} confidence'.format(1-sig_lvl))

fail to reject h0
There is no relation b/w gender and travelling for the business (Independent) with 0.90 confidence

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use the p-value technique to test at 5% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file defective_prod.xlsx

In [4]:
# produce on an average equal number of defective belts i.e. we have to find um1=um2=um3 using one way annova test

df1=pd.read_excel('defective_prod.xlsx')
df1.head(3)

  production_line  def_belts
0               A          5
1               C          2
2               B          3

In [3]:
#hypothesis
#h0: all the production lines produce on an average equal number of defective belts
#ha: all the production lines produce on an average not an equal number of defective belts

#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal

#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [5]:
#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal
sig_lvl=0.05
stats.shapiro(df1['def_belts'])

ShapiroResult(statistic=0.925964891910553, pvalue=0.11425024271011353)

In [ ]:
# pval>sig lvl
# all data are normal

In [ ]:
#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [7]:
grp_a = df1[df1['production_line']=='A']['def_belts']
grp_b = df1[df1['production_line']=='B']['def_belts']
grp_c = df1[df1['production_line']=='C']['def_belts']

In [8]:
stats.levene(grp_a,grp_b,grp_c)

LeveneResult(statistic=0.8375, pvalue=0.4489726403784061)

In [15]:
# pval>sig_lvl
# h0: all variance are equal 
# we can proceed to annova test
# all assumption are satisfied
pval

0.44857788134106824

In [14]:
pval=stats.f_oneway(grp_a,grp_b,grp_c)[1]
if pval< sig_lvl:
    print('h0 is rejected \nall the production lines produce on an average are not an equal number of defective belts with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('fail to reject h0 \nall the production lines produce on an average equal number of defective belts with {:.2f} confidence'.format(1-sig_lvl))

fail to reject h0
all the production lines produce on an average equal number of defective belts with 0.95 confidence

In [ ]:
# pval=0.44
# sig lvl=0.05
# pval>sig lvl
# fail to reject h0 
# all means are equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
sig_lvl=0.01
df2=pd.read_csv('sales_emp.csv')
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)
df2.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,2,1,1,Single,3407,6986,7,Y,No,23,4,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,3,2,4,Married,2086,3335,3,Y,No,14,3,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,2,1,3,Married,2683,3810,1,Y,Yes,14,3,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,2,3,4,Single,9619,13596,1,Y,No,16,3,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,2,2,3,Single,5744,26959,1,Y,Yes,11,3,4,80,0,6,1,3,6,4,0,3

In [19]:
# hypothesis
# h0: The average monthly income of sales executives with different education backgrounds is equal.
# ha: The average monthly income of sales executives with different education backgrounds is not equal.

In [20]:
df2['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [21]:
#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal

#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [22]:
stats.shapiro(df2['MonthlyIncome'])

ShapiroResult(statistic=0.9582135677337646, pvalue=0.05732710659503937)

In [23]:
# pval<sig lvl
# all data are normal
# we can proceed second condition

In [35]:
#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal
sig_lvl=0.01
grp_lif_sci =   df2[df2['EducationField']=='Life Sciences']['MonthlyIncome']
grp_tec_deg =   df2[df2['EducationField']=='Technical Degree']['MonthlyIncome']
grp_marketing = df2[df2['EducationField']=='Marketing']['MonthlyIncome']
grp_Medical =   df2[df2['EducationField']=='Medical']['MonthlyIncome']
grp_Other =     df2[df2['EducationField']=='Other']['MonthlyIncome']

In [29]:
#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [30]:
stats.levene(grp_lif_sci,grp_tec_deg,grp_marketing,grp_Medical,grp_Other)

LeveneResult(statistic=1.4405771214255787, pvalue=0.23476859109336565)

In [31]:
# pval> sig_lvl
# h0: all variance are equal
# all assumption are correct
# we can proceed to one way annova test

In [38]:
pval=stats.f_oneway(grp_lif_sci,grp_tec_deg,grp_marketing,grp_Medical,grp_Other)[1]
if pval< sig_lvl:
    print('h0 is rejected \nThe average monthly income of sales executives with different education backgrounds is not equal with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('we are fail to reject h0 \nThe average monthly income of sales executives with different education backgrounds is equal with {:.2f} confidence'.format(1-sig_lvl))

we are fail to reject h0
The average monthly income of sales executives with different education backgrounds is equal with 0.99 confidence

Use the data available in the CSV file `sales_emp.csv`.

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# hypothesis
# h0: The average monthly income of sales executives with different education backgrounds is equal.
# ha: The average monthly income of sales executives with different education backgrounds is not equal.

In [ ]:
# same question solve in previous one

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The company wants to decide their advertisement strategies for their new smartwatch. The manager collects the advertising cost (in dollars) for four different mediums. Test if the company is spending on average an equal amount on all the advertising mediums using a critical value approach with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
df3=pd.read_excel('ad_cost.xlsx')
df3

      medium  cost
0   Snapmart   252
1    Picbook   378
2     Funsta   312
3    Klicker   297
4    Picbook   361
5   Snapmart   274
6    Klicker   352
7    Picbook   343
8     Funsta   320
9   Snapmart   242
10   Klicker   305
11    Funsta   325

Use the data given in the excel file `ad_cost.xlsx`

In [41]:
df3['medium'].unique()

array(['Snapmart', 'Picbook', 'Funsta', 'Klicker'], dtype=object)

In [42]:
#h0:the company is spending on average an equal amount on all the advertising mediums
#ha:the company is spending on average not equal amount on all the advertising mediums


#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal

#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [43]:
#condition 1 to do one way annova test 
#data is normal or not (using shapiro test)
#h0: data is normal
#ha: data is not normal
sig_lvl=0.01

In [44]:
stats.shapiro(df3['cost'])

ShapiroResult(statistic=0.9700300097465515, pvalue=0.9111184477806091)

In [45]:
# pval>sig lvl
# all data are normal

In [46]:
grp_Snapmart =df3[df3['medium']=='Snapmart']['cost']
grp_Picbook  =df3[df3['medium']=='Picbook' ]['cost']
grp_Funsta   =df3[df3['medium']=='Funsta' ]['cost']
grp_Klicker  =df3[df3['medium']=='Klicker' ]['cost']

In [47]:
#condition 2 to do one way annova test
#check variance must be equal (using levene test)
#h0: all variance are equal 
#h1: atleast one variance is not equal

In [48]:
stats.levene(grp_Snapmart,grp_Picbook,grp_Funsta,grp_Klicker)

LeveneResult(statistic=0.4517895809451024, pvalue=0.7230913376085835)

In [49]:
# pval>sig lvl
# all the variance are equal
# both assumption are passed
# we can perform annova test

In [50]:
pval=stats.f_oneway(grp_Snapmart,grp_Picbook,grp_Funsta,grp_Klicker)[1]
if pval<sig_lvl:
    print('h0 is rejected \nthe company is spending on average not equal amount on all the advertising mediums with {:.2f} confidence'.format(1-sig_lvl))
else:
    print('fail to reject h0 \n the company is spending on average an equal amount on all the advertising mediums with {:.2f} confidence'.format(1-sig_lvl))

h0 is rejected
the company is spending on average not equal amount on all the advertising mediums with 0.99 confidence

In [51]:
# pval=0.53
# sig lvl=0.05
# pval<sig lvl
# h0 is rejected 
# all means are not equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. If the null hypothesis is rejected in the above test find which medium's advertisting cost is significantly different.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [52]:
# 
mc.pairwise_tukeyhsd(df3['cost'],df3['medium'],alpha=0.05).summary()

In [53]:
# funsta<>snapmart
#klicker<>snapmart
#picbook<>snapmart

In [17]:
stats.norm.interval(0.05,20,125)

(12.16165275709827, 27.83834724290173)

In [18]:
stats.norm.interval(0.05,125,20)

(123.74586444113572, 126.25413555886428)