## Table of Content

1. **[Sampling](#sample)**
2. **[Descriptive Statistics](#descr)**
3. **[Probability and Bayes Theorem](#prob)**

**Import the required libraries**

In [1]:
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A wrist-watch company wants to perform a quality check before launching their next-generation k22-digital watch. The production team has delivered 30 watches with number tags as 1,2,...30 on each watch for the quality check. Pick 5 watches randomly to check the quality. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
data=[i for i in range(1,31)]
random.choices(data,k=5)

[1, 13, 15, 2, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The rainfall (in mm) in the city is recorded for 10 days. Find the rainfall value under which 60% of the rainfalls would lie.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        rainfall (in mm) = [86, 74, 90, 108, 65, 84, 75, 92, 102, 93]

In [3]:
rainfall = [86, 74, 90, 108, 65, 84, 75, 92, 102, 93]
q=pd.Series(rainfall).quantile(0.6)
q

90.8

In [4]:
middle=[]
for i in rainfall:
    if i<=q:
        middle.append(i)
    else:
        continue
middle

[86, 74, 90, 65, 84, 75]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. John is studying Mechanical Engineering while Jack is studying Fine Arts The performance of John and Jack in the monthly exams is given below. Compare their performances and identify the more consistent student. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        John = [42, 38, 47, 35, 39, 46]
        Jack = [32, 36, 46, 49, 28, 30]

In [5]:
John = [42, 38, 47, 35, 39, 46]
Jack = [32, 36, 46, 49, 28, 30]
corr_coeff= pd.Series(John).corr(pd.Series(Jack))
corr_coeff

-0.17928268545794682

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The amount of Calcium, Potassium and Iron in the chocolate cookies of 5 different brands is collected. Find out which mineral can be neglected while comparing the different cookie brands?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Calcium (in mg) = [132, 138.56, 147.2, 145.6, 139]
        Potassium (in mg) = [122.2, 116, 106.6, 119.52, 128]
        Iron (in mg) = [2.96, 3.02, 3.01, 2.99, 2.93]

In [6]:
Calcium = [132, 138.56, 147.2, 145.6, 139]
Potassium  = [122.2, 116, 106.6, 119.52, 128]
Iron = [2.96, 3.02, 3.01, 2.99, 2.93]
corr_coeff1= pd.Series(Calcium).corr(pd.Series(Potassium))
print(corr_coeff1)
corr_coeff2= pd.Series(Calcium).corr(pd.Series(Iron))
print(corr_coeff2)
corr_coeff3= pd.Series(Potassium).corr(pd.Series(Iron))
print(corr_coeff3)

-0.5941533998693177
0.4641969392186427
-0.8456821030181628

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. You have given two car's company cars mileage details. Find the company is more reliable, while comparing the mileage.
            </div>
        </td>
    </tr>
</table>

Given data:

        Motor_Company1 = [20,30,23,25,26,27,33,27,21,22]
        Motor_Company2 = [22,40,10,34,11,41,9,12,19,29]

In [7]:
Motor_Company1 = [20,30,23,25,26,27,33,27,21,22]
Motor_Company2 = [22,40,10,34,11,41,9,12,19,29]
print('mean of Motor_Company1 is ',pd.Series(Motor_Company1).mean())
print('mean of Motor_Company2 is ',pd.Series(Motor_Company2).mean())

mean of Motor_Company1 is  25.4
mean of Motor_Company2 is  22.7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Use the below data and find five point summary of the data.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

rainfall = [132, 138.56, 147.2, 145.6, 139,86, 74, 90, 108, 65, 84, 75, 92, 102, 93,140,133.2,145.4,146.2,122.2, 116, 106.6, 119.52, 128.1,122.2, 116, 106.6, 119.52, 128,1]

In [8]:
import statistics
rainfall = [132, 138.56, 147.2, 145.6, 139,86, 74, 90, 108, 65, 84, 75, 92, 102, 93,140,133.2,145.4,146.2,122.2, 116, 106.6, 119.52, 128.1,122.2, 116, 106.6, 119.52, 128,1]
minimum = min(rainfall)
q1 = statistics.quantiles(rainfall, n=4)[0]
median = statistics.median(rainfall)
q3 = statistics.quantiles(rainfall, n=4)[-1]
maximum = max(rainfall)

print("Minimum value: ", minimum)
print("Q1: ", q1)
print("Median: ", median)
print("Q3: ", q3)
print("Maximum value: ", maximum)

Minimum value:  1
Q1:  91.5
Median:  117.75999999999999
Q3:  134.54
Maximum value:  147.2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. A box contains 5 coins of Rs. 1, 3 coins of Rs. 2 and 6 coins of Rs. 5. We want to select three coins such that only the coins of an odd value are selected. Find the probability of selecting 3 such coins.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
data=[1,2,3,4,5]
random.choices(data,k=3)

[4, 1, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. A magician wants you to select three cards from a pack of 52 cards without replacement. Find the probability that one card is a queen?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
from scipy.special import comb
num_ways_to_select_1_queen = 4 * comb(48, 2) # select one queen and two non-queens
total_num_ways_to_select_3_cards = comb(52, 3) # select 3 cards from a pack of 52 cards
probability = num_ways_to_select_1_queen / total_num_ways_to_select_3_cards

print("The probability of selecting one queen from a pack of 52 cards without replacement is:", probability)

The probability of selecting one queen from a pack of 52 cards without replacement is: 0.2041628959276018

In [35]:
n=52
p=3/52
r=1
stats.binom.cdf(r,n,p)

0.19036191870052882

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The same magician wants another person to select three cards from a pack of 52 cards without replacement. Find the probability that at least one card is a queen?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
num_ways_to_select_no_queen = comb(48, 3) # select 3 non-queens from a pack of 48 non-queens
total_num_ways_to_select_3_cards = comb(52, 3) # select 3 cards from a pack of 52 cards
probability = 1 - num_ways_to_select_no_queen / total_num_ways_to_select_3_cards

print("The probability of at least one queen when selecting three cards from a pack of 52 cards without replacement is:", probability)

The probability of at least one queen when selecting three cards from a pack of 52 cards without replacement is: 0.2173755656108597

In [55]:
n=52
p=3/52
r=1
stats.binom.sf(r-1,n,p)

0.9544988584569467

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10.The probability of parking in a no parking zone is 0.2. The probability of a day being crowded is 0.36. The probability of the day being crowded and parking in the no parking zone is 0.28. What is the probability that a person will park in the no parking zone given that the day is  crowded day.
            </div>
        </td>
    </tr>
</table>

In [58]:
probability = 0.28 / 0.36
probability

0.7777777777777779

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A bulb manufacture company has two machines to produce bulbs, Machine A and Machine B. Machine A produces 80% of the bulbs and Machine B produces 20% of the bulbs. Machine A gives 10% defective bulb and Machine B gives 12% defective bulbs. What is the probability that a bulb selected at random which is defective is from Machine B.
            </div>
        </td>
    </tr>
</table>

In [61]:
probability = 0.12 * 0.2 /(0.1 * 0.8 + 0.12 * 0.2)
probability

0.23076923076923075